@import "nullstyle";
@import "template";
@import "swiper";


body{
   display: flex;
   justify-content: center;
   align-items: center;
}

canvas{
   border: 3px solid #fff;
   
}

// ==================
// Подключаем футер
@import "footer";
// ==================
